 :root {
  --bg-color: #F8F4E6;
  --text-color: #ff9933;
  --primary: #e67e22;
  --secondary: #d35400;
  --accent: #e74c3c;
  --light: #f5d6ab;
  --dark: #2c3e50;
  --white: #fff;
  --shadow: 0 10px 20px rgba(0,0,0,0.1);
  --transition: all 0.3s ease;
  }
.marquee-cart {
    background-color: #ffe8d6;
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
    color: #6a4e33;
  }
.cart-title{
  color:#ff9933;
}
    .nav-middle {
      background-color: #ffe8d6;
      padding: 12px 0;
    }
    .nav-middle .btn {
      background-color: #d2691e;
      color: white;
      border-radius: 0;
    }
    .cart-table img {
      width: 130px;
      border-radius: 10px;
    }
    .order-summary {
      background: #fff9f0;
      padding: 20px;
      border: 1px solid #f0c084;
      border-radius: 8px;
    }
    .cart-btn {
  padding: 8px 24px;
  background: linear-gradient(135deg, #ff9933, #ffd700);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--shadow);
}

/* price Details  */
.price-box {
      background: #fff;
      max-width: 400px;
      border: 1px solid #e0e0e0;
      padding: 20px;
      border-radius: 6px;
    }
    .price-title{
      font-size: 18px;
      font-weight: 600;
      color: #555;
      margin-bottom: 16px;
    }
    .row-detail {
      display: flex;
      justify-content: space-between;
      margin: 8px 0;
      font-size: 15px;
    }
    .row-detail i {
      font-size: 12px;
      margin-left: 4px;
      color: #888;
    }
    .discount {
      color: #2e7d32;
    }
    .total {
      font-weight: bold;
      font-size: 17px;
      margin-top: 12px;
      border-top: 1px solid #ddd;
      padding-top: 12px;
    }
    .save-msg {
      color: #2e7d32;
      font-size: 14px;
      margin-top: 8px;
    }
    .footer-note {
      margin-top: 16px;
      font-size: 13px;
      color: #555;
      display: flex;
      align-items: center;
    }
    .footer-note i {
      margin-right: 8px;
      color: #555;
    }
   